<main class="mt-10">

  <div class="relative w-full mx-auto mb-4 md:mb-0">
    <div class="px-4 lg:px-0">
      <h2 class="text-4xl font-semibold leading-tight text-gray-800">
        {{ title }}
      </h2>
      {{ tags }}
      <a href="{{ url }}" class="inline-flex items-center justify-center py-2 mb-2 text-green-700">
        {{ title }}
      </a>
      {{ /tags }}
      <span>{{ date }}</span>
    </div>

    <img src="{{ featured_image }}" class="object-cover w-full lg:rounded" style="height: 28em;" />
  </div>

  <div class="flex flex-col lg:flex-row lg:space-x-12">

    <div class="mt-12 text-lg leading-relaxed text-gray-700 px-3-4 w- w-l lg:px-0 lg:w-3/4">
      {{ bard }}
    </div>

    <div class="w-full max-w-screen-sm m-auto mt-12 lg:w-1/4">
      <div class="p-4 border-t border-b md:border md:rounded">
        <div class="flex py-2">
          <img src="{{ author:avatar }}" class="object-cover w-10 h-10 mr-2 rounded-full" />
          <div>
            <p class="text-sm font-semibold text-gray-700"> {{ author:name }} </p>
          </div>
        </div>
        <p class="py-3 text-gray-700">
          {{ author:name }} writes about technology
          Yourself required no at thoughts delicate landlord it be. Branched dashwood do is whatever it.
        </p>
        <a href="https://twitter.com/danasugu"
          class="flex items-center justify-center w-full px-2 py-1 text-gray-100 bg-green-700 rounded">
          Follow
          <i class='ml-2 bx bx-user-plus'></i>
        </a>
      </div>
    </div>

  </div>
</main>
<!-- main ends here -->